$xs: "only screen and (min-width: 0) and (max-width: 374px)";
$sm: "only screen and (min-width: 375px) and (max-width: 576px)";
$md: "only screen and (min-width: 577px) and (max-width: 768px)";
$lg: "only screen and (min-width: 769px) and (max-width: 992px)";
$xl: "only screen and (min-width: 993px) and (max-width: 1200px)";
$xxl: "only screen and (min-width: 1201px)";

$primary-color: #03034b;
$secondary-color: #f537a0;

@font-face {
  font-family: Take;
  src: url(./font/Take.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Take;
}

.temp-screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-image: url(./images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.highlighted {
  color: $secondary-color;
  font-weight: 700;
}

#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    color: $primary-color;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 2rem 0;
    width: 250px;
    font-size: 2rem;
  }
}
#start-btn,
#new-game-btn {
  cursor: pointer;
  border: 0;
  background: $primary-color;
  width: 185px;
  height: 60px;
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.3s linear;
  &:before {
    content: "";
    width: 185px;
    height: 60px;
    border-radius: 4px;
    background: $secondary-color;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: -1;
    transition: all 0.3s linear;
  }
  &:hover {
    left: 12px;
    top: 12px;
    background: $primary-color;
    color: $secondary-color;
  }
  &:hover:before {
    left: -12px;
    top: -12px;
    background-color: $secondary-color;
  }
}

.game-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25vw 75vw;
  justify-items: center;
  align-items: center;
  background-color: $primary-color;
  color: white;
  font-size: 2rem;
  .info {
    padding-left: 20px;
    select {
      background-color: $secondary-color;
      font-size: 1.7rem;
      border-radius: 8px;
      @media #{$xs}, #{$sm}, #{$md} {
        font-size: 1rem;
      }
    }
  }
  .board {
    width: fit-content;
    display: grid;
    perspective: 1000px;
    .card {
      margin: 3px;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      .front-face,
      .back-face {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        border-radius: 5px;
      }
      .front-face {
        transform: rotateY(180deg);
      }
      &.flip {
        transform: rotateY(180deg);
      }
    }
    &.demo {
      grid-template-columns: repeat(3, 30vw);
      grid-template-rows: repeat(2, 40vw);
    }
    &.demo.landscape {
      grid-template-columns: repeat(3, 25vh);
      grid-template-rows: repeat(2, 35vh);
    }
    &.easy {
      grid-template-columns: repeat(5, 17vw);
      grid-template-rows: repeat(4, 23vw);
    }
    &.easy.landscape {
      grid-template-columns: repeat(5, 15vh);
      grid-template-rows: repeat(4, 22vh);
    }
    &.medium {
      grid-template-columns: repeat(6, 14vw);
      grid-template-rows: repeat(5, 18vw);
    }
    &.medium.landscape {
      grid-template-columns: repeat(6, 13vh);
      grid-template-rows: repeat(5, 18vh);
    }
    &.hard {
      grid-template-columns: repeat(6, 15vw);
      grid-template-rows: repeat(7, 18vw);
    }
    &.hard.landscape {
      grid-template-columns: repeat(7, 12vh);
      grid-template-rows: repeat(6, 15vh);
    }
  }
  &.portrait {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }
  @media #{$xs}, #{$sm}, #{$md} {
    font-size: 1rem;
  }
}

#game-over-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background-color: rgba(black, .9);
    h1 {
      text-align: center;
    }
  }
}
